{% extends 'index_base.html'%}
{% load static %}
{% block content %}
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 col-lg-8 mb-5">  
            <div class="p-5 bg-white">

              <div class="mb-4 mb-md-2 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{ user.first_name }} {{ user.last_name }}</h2>
               </div>
              </div>

              <h6>Username:</h6><p>{{user.username}}</p>
              <h6>First Name:</h6><p>{{user.first_name}}</p>
              <h6>Last Name</h6><p>{{user.last_name}}</p>
              <h6>Email</h6><p>{{user.email}}</p>
             
            </div>
          </div>

          <div class="col-lg-4">
             <p class="mt-5"><a href="{% url 'account:update' user.id %}" class="btn btn-primary  py-2 px-4">Update</a></p>
          </div>
        </div>
      </div>
    </div>

   


    

{% endblock content%}