{% extends 'index_base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="site-blocks-cover overlay" style="background-image: url('{% static 'client/images/hero_1.jpg' %}');" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12" data-aos="fade">
        <h1>Find Job</h1>
        <form method="get" action="#">
          <div class="row mb-3">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6">
                  {{form|crispy}}
                </div>
                <div class="col-md-3">
                  <input type="submit" class="btn btn-search btn-primary btn-block" value="Search">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
        <h2 class="mb-5 h3">Recent Jobs</h2>
        <div class="rounded border jobs-wrap">

        {% for job in jobs %}
        
          <a href="{% url 'job:home-job-detail' job.id %}" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
            <div class="company-logo blank-logo text-center text-md-left pl-3">
              <img src="{% static 'client/images/company_logo_blank.png' %}" alt="Image" class="img-fluid mx-auto">
            </div>
            <div class="job-details h-100">
              <div class="p-3 align-self-center">
                <h3>{{job.position}}</h3>
                <div class="d-block d-lg-flex">
                  <div class="mr-3"><span class="icon-suitcase mr-1"></span>{{job.company}}</div>
                  <div class="mr-3"><span class="icon-room mr-1"></span> Florida</div>
                  <div><span class="icon-money mr-1"></span>Rs.{{job.salary}}</div>
                </div>
              </div>
            </div>
            <div class="job-category align-self-center">
              <div class="p-3">
                <span class="text-info p-2 rounded border border-info">{{ job.job_type }}</span>
              </div>
            </div>  
          </a>
        
        {% endfor %}

        
        </div>

        <div class="col-md-12 text-center mt-5">
          <a href="{% url 'job:home-job-list' %}" class="btn btn-primary rounded py-3 px-5"><span class="icon-plus-circle"></span> Show More Jobs</a>
        </div>
      </div>
      <div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex mb-0">
          <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
          <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
        </div>

        <div class="nonloop-block-16 owl-carousel">
          {% for job in feature_jobs %}
          <div class="border rounded p-4 bg-white">
            <h2 class="h5"><a href="{% url 'job:home-job-detail' job.id %}">{{ job.position}}</a></h2>
            <p><span class="border border-warning rounded p-1 px-2 text-warning">{{job.job_type}}</span></p>
            <p>
              <span class="d-block"><span class="icon-suitcase"></span> {{job.company}}</span>
              <span class="d-block"><span class="icon-room"></span>{{ job.location }}</span>
              <span class="d-block"><span class="icon-money mr-1"></span>{{job.salary}}</span>
            </p>
            <p class="mb-0">{{job.description|truncatechars:250}}</p>
          </div>
          {% endfor %}
          
        </div>

      </div>
    </div>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Popular Categories</h2>
      </div>
    </div>
    <div class="row">
      {% for category in categories %}
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
        <a href="{% url 'job:category-jobs' category.id %}" class="h-100 feature-item">
          <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>
          <h2>{{category}}</h2>
          <span class="counting">10</span>
        </a>
      </div>
      {% endfor %}
    </div>

  </div>
</div>





{% endblock content %}